@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, var(--color001), var(--color005));
}

section{
    display: flex;
    justify-content: space-between;
    background-color:white;
    width: 800px;
    height: 350px;
}

div#imagem-formulario{
    background-position: right;
    width: 275px; 
    height: 110%;
}

div#formulario{
    margin-top:5px;
    width:65%;
}

div#formulario p{
    margin:12px 0px 12px 0px;
}

div#formulario-email input#form-email{
    width: calc(100% - 15%);
}

div#formulario-senha input#form-senha{
    width: calc(100% - 15%);
}

div input#form-submit{
    width:500;
}

div input#form-reset{
    width:500;
}

